<% provide(:title, "Quiz App | Subject ") %>
<div class="row">
  <ul class="nav nav-pills nav-stacked" id="subject">
		<li class="active"><a>Question > <%= @cate.name%></a></li>
	</ul>
	<div class="col-lg-12">   
    <%= form_tag "/pages/checkanswer" , :class => 'form-default' do %>
    <%        
      i=0        
      @quiz.each do |f| 
        i=i+1
    %>
    <input type="hidden" name="id_quizzes_<%= i %>" value="<%= f.quiz_id %>"/>
		<h5>Question <%= i %>: <%= f.quiz_content %></h5>
		<table class="table table-striped">  	
      <% 
        @choices= Choices.where(quiz_id: f.quiz_id)
        j=0;
        @choices.each do |k|
          j=j+1
      %>
				<tr><td><input type="radio" name="choice_quiz_<%= i %>" value="<%= k.choice_title %>"  /> <%= k.choice_title %>. <%= k.choice_content %></td></tr>  	 				

      <% end %>	   
		</table>
    <% end %>
    <% if @quiz.any? %>
      <%= submit_tag "Send answers" , :class => 'btn btn-danger' %>
    <% else %>
      No questions in this category
    <% end %> 
    <% end %>   
	</div>
</div>
