<div class="row">
<div class="col-md-6" >
<fieldset>
<legend>LOGIN</legend>

<%= form_tag({:action => 'create'}, method: "post", class: "form form-default") do %>
    <% if notice %>
      <div class="form-group alert alert-danger"><%= notice %></div>
    <% end %>
  	<div class="form-group">
  		<%= label_tag(:username, "Username:") %>
  		<%= text_field_tag(:username, '',class: 'form-control') %>
  	</div>
  	<div class="form-group">
  		<%= label_tag(:password, "Password:") %>
  		<%= password_field_tag(:password, '',class: 'form-control') %>
  	</div>
  	<div>
  		<%= submit_tag("Login", class: 'btn btn-danger') %>
  	</div>
  	
<% end %>
</fieldset>
</div>
</div>