<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>
<span class="btn btn-default"><%= link_to 'Edit', edit_user_path(@user) , style: 'color: #000;' %></span>
|
<span class="btn btn-default"><%= link_to 'Back', users_path , style: 'color: #000;' %></span>
